html,body {
	margin: 0;
	padding: 0;
}
body {
	background: url("img/pattern1.jpg");
}
.wrapper {
	border-radius: 3px;
/*	box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, #fff 0 2px 18px;
*/	margin: auto;
	min-height: 250px;
	min-width: 810px;
	padding: 20px;
	width: 60%;
}
.player {
	float: left;
}
.nav_panel {
	display: inline-block;
	font-family: Helvetica, Arial, "DejaVu Sans Condensed", sans-serif;
	margin-left: 20px;
	width: 420px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
}
.nav_back, .nav_item_folder, .nav_item_flac {
	background: #202329;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…g9IjEwMCUiIGhlaWdodD0iMTAwJSIgc3R5bGU9ImZpbGw6dXJsKCNncmFkKTsiIC8+PC9zdmc+);
	background: -webkit-linear-gradient(#32363C, #17191e);
	background: -moz-linear-gradient(#32363C, #17191e);
	background: -o-linear-gradient(#32363C, #17191e);
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.85);
	box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, black 0 2px 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	color: #A7AAB1;
	cursor: pointer;
	outline: none;
	margin-bottom: 3px;
}
.nav_back:active, .nav_item_folder:active, .nav_item_flac:active {
	background: #32363C;
}
.nav_back {
	height: 20px;
	text-align: center;
}
.nav_item_folder, .nav_item_flac {
	height: 35px;
	padding: 7px 10px;
}
.nav_item_flac {
}
